apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-application
  namespace: python-app  
spec:
  replicas: 1
  selector:
    matchLabels:
      app: python-app
  template:
    metadata:
      labels:
        app: python-app
    spec:
      containers:
      - name: app
        image: rathan13/python-app:8b9cd7762287304e0e7a3c472d25f0780dffddc7
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 5000
