apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-application
  namespace: python-app  
spec:
  replicas: 1
  selector:
    matchLabels:
      app: python-app
  template:
    metadata:
      labels:
        app: python-app
    spec:
      containers:
      - name: app
        image: python-k8s-app:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 5000
